<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/lunch" />
    <!--
Set color used with incoming notification messages. This is used when no color is set for the incoming
         notification message. See README(https://goo.gl/6BKBk7) for more.
    -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/black" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diet"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.product.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.ProductFragment"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".ui.food_detail.FoodDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.food_fact.EntryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meal_info.MealInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.Diet" />
        <activity
            android:name=".ui.all_diet.AllDietActivity"
            android:exported="false"
            android:theme="@style/Theme.Diet" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExerciseDetailActivity"
            android:exported="true" />
        <activity
            android:name=".IntroSliderActivity"
            android:exported="true" />
<!--        <activity-->
<!--            android:name=".MainFragment"-->
<!--            android:exported="true" /> &lt;!&ndash; <activity android:name=".ExerciseDetailActivity" /> &ndash;&gt;-->
        <activity
            android:name=".GoalSetupActivity"
            android:exported="true" />
        <activity
            android:name=".BMISuccessActivity"
            android:exported="true" />
        <activity
            android:name=".GoalSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".BMISetupActivity"
            android:exported="true" />
        <activity
            android:name=".GoalWeightActivity"
            android:exported="true" />
        <activity
            android:name=".GeneratingPlanActivity"
            android:exported="true" />
        <!--        <activity android:name=".BlogActivity" />-->
        <activity
            android:name=".CartActivity"
            android:exported="true" />
        <activity
            android:name=".BlogFragment"
            android:exported="true" />
        <activity android:name=".BlogDetailActivity" />
        <activity
            android:name=".ActivityLevelSelectionActivity"
            android:exported="true" />
        <activity
            android:name=".ActivityLevelSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".PreferenceSliderActivity"
            android:exported="true" />
        <activity
            android:name=".PreferenceSuccessActivity"
            android:exported="true" />
        <activity
            android:name=".SetDietActivity"
            android:exported="true" />
        <activity
            android:name=".TextToSpeechActivity"
            android:exported="true" />
    </application>

</manifest>